{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
        Dziel się swoimi przemyśleniami! 👨‍💻
        </p>
        <p>
          Jeśli masz coś ciekawego do powiedzenia lub chcesz podzielić się swoim doświadczeniem,
          teraz masz okazję to zrobić. Dodawanie własnych postów na blogu jest proste i przyjazne dla użytkownika.
          Wystarczy, że jesteś zalogowany(a) na swoim koncie. Po zalogowaniu znajdziesz opcję "Create new post"
          na stronie głównej. Możesz wybrać temat, napisać treść, dodać zdjęcia czy multimedia,
          a następnie opublikować swój wpis. Będzie on widoczny dla innych użytkowników 🕺
        </p>
        <p>
        <p class="lead">Dodaj swój komentarz 🙋🏻‍♂️</p>
          Twoje zdanie ma znaczenie! Teraz możesz również komentować posty innych autorów.
          Jeśli jakiś artykuł wzbudził Twoje zainteresowanie lub masz do dodania coś wartościowego do dyskusji,
          po prostu przejdź do końca wpisu i tam znajdziesz sekcję komentarzy.
          Możesz napisać swój komentarz, podzielić się swoją opinią lub zadać pytanie autorowi.
          Jesteśmy przekonani, że to dodatkowa wartość, którą możemy wnieść dla naszej społeczności.
        </p>
        <p>
           <p class="lead">Wymagane Logowanie 🚓 </p>
          Chcemy, aby nasza platforma była bezpiecznym i zaufanym miejscem dla wszystkich użytkowników.
          Dlatego też, aby dodać własny post lub komentować istniejące wpisy, konieczne jest posiadanie konta i zalogowanie się.
          Proces rejestracji jest szybki i prosty, a Twoje dane są u nas bezpieczne.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
